html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1350px;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-card{
    box-shadow: 0 0px 1px #3A3B3F;
}
.el-table{
    margin-top: 20px;
}
.el-steps{
   margin: 15px 0;
}
.el-step__title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px ;
}
